body {
  text-align: center;
}
.tb {
  background-color: grey;
  height: 6vh;
}

.top2 {
  background-color: grey;
  height: 15vh;
}


.main {
  background-color: lightgrey;
  height: 88vh;
}
.main2 {
  background-color: white;
  height: 79vh;
}

#tracks {
  height: 88vh;
  width: 100%;
  opacity: .19;
}
.lefty {
  height: 100%;
  width: 100%;
}
.col-md-6 {
  height: inherit;
}
#title {
  width: 15vw;
  margin: 0 auto;
  margin-top: 30vh;
}
.naw {
  margin-left: 50vw;
  margin-top: -88vh;
}

.pic {
  height: 28vh;
}

.image1 {
  width: 100%;
  height: 90%;
  margin-top: 2vh;
}

.pointer:hover {
  cursor: pointer;
}
